[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadotdev/hugo-theme-introduction.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
[submodule "public"]
	path = public
	url = git@github.com:BurhanOtour/burhanotour.github.io.git
	branch = master
